In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("../data/student_data_cleaned.csv")

In [30]:
data['guardian']

0      mother
1      father
2      mother
3      mother
4      father
        ...
390     other
391    mother
392     other
393    mother
394    father
Name: guardian, Length: 395, dtype: object

In [28]:
data.shape

(395, 33)

In [4]:
data.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')

## Target Variable Selection

The target variable chosen is **G3**, which represents the student's final grade.
This is the most meaningful outcome to predict because it summarizes overall
academic performance at the end of the course.

In [14]:
X = data.drop(columns=['G3'])   ## Seperate Features

In [15]:
Y = data["G3"]

In [16]:
X.shape

(395, 32)

In [17]:
X.dtypes

school        object
sex           object
age            int64
address       object
famsize       object
Pstatus       object
Medu           int64
Fedu           int64
Mjob          object
Fjob          object
reason        object
guardian      object
traveltime     int64
studytime      int64
failures       int64
schoolsup     object
famsup        object
paid          object
activities    object
nursery       object
higher        object
internet      object
romantic      object
famrel         int64
freetime       int64
goout          int64
Dalc           int64
Walc           int64
health         int64
absences       int64
G1             int64
G2             int64
dtype: object

In [18]:
X_encoded = pd.get_dummies(X, drop_first=True)

In [19]:
X_encoded

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,...,guardian_mother,guardian_other,schoolsup_yes,famsup_yes,paid_yes,activities_yes,nursery_yes,higher_yes,internet_yes,romantic_yes
0,18,4,4,2,2,0,4,3,4,1,...,1,0,1,0,0,0,1,1,0,0
1,17,1,1,1,2,0,5,3,3,1,...,0,0,0,1,0,0,0,1,1,0
2,15,1,1,1,2,3,4,3,2,2,...,1,0,1,0,1,0,1,1,1,0
3,15,4,2,1,3,0,3,2,2,1,...,1,0,0,1,1,1,1,1,1,1
4,16,3,3,1,2,0,4,3,2,1,...,0,0,0,1,1,0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,20,2,2,1,2,2,5,5,4,4,...,0,1,0,1,1,0,1,1,0,0
391,17,3,1,2,1,0,2,4,5,3,...,1,0,0,0,0,0,0,1,1,0
392,21,1,1,1,1,3,5,5,3,3,...,0,1,0,0,0,0,0,1,0,0
393,18,3,2,3,1,0,4,4,1,3,...,1,0,0,0,0,0,0,1,1,0
394,19,1,1,1,1,0,3,2,3,3,...,0,0,0,0,0,0,1,1,1,0

# Categorical variables were encoded using one-hot encoding
# because machine learning models require numeric input.

In [31]:
X_encoded.isnull().sum().sum()

0

In [32]:
X_encoded.shape, y.shape

((395, 41), (395,))

In [ ]:
# This dataset is ML-ready